doctype
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Google
  link(rel="stylesheet", href="css/bootstrap/bootstrap.css")
  link(rel="stylesheet", href="style.css")

body 
  main
    .box-menu
      ul.list-menu
        li: a(href="#") Gmail
        li: a(href="#") Imágenes
        li: a(href="#") Iniciar Sesión

    .container
      .box-google.pt-5
        .img-google
          img.img-fluid(src="img/descarga.png", alt="Google")
        .box-input
          input(type="text")
        .box-button
          button Buscar con Google
          button Me siento con suerte
        .box-parrafo
          p Ofrecido por Google en: 
            a(href="") Quechua

    footer
      .foot-page
      div
        p Perú   
      .box-list
        .list-one
          ul
            li Publicidad
            li Negocios
            li Sobre Google
            li Cómo funciona la Búsqueda
        .list-two
          ul
            li Privacidad
            li Condiciones
            li Preferencias          

