.list-menu {
  list-style     : none;
  display        : flex;
  justify-content: flex-end;
  margin-top     : 20px;
  margin-right   : 20px;
}

.list-menu li {
  padding-right: 15px;
}

.list-menu li a {
  color: black;
}

.box-google {
  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-items    : center;
}

.box-input {
  margin-top: 20px;
  margin    : 0 auto;
}

.box-input input {
  width        : 470px;
  height       : 40px;
  border-radius: 13px;
  border       : 1px solid silver;
}

.box-button {
  margin-top: 20px;
}

.box-button button {
  padding: 5px 15px;
  border : 1px solid transparent;
  color  : grey;
}

.box-button button:hover {
  color              : #222;
  transition-duration: 0.3s;
  border             : 1px solid grey;
  border-radius      : 3px;
}

.box-parrafo {
  margin-top: 20px;
}

.foot-page {
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  background-color: #f2f2f2;
  border-top      : 1px solid #e4e4e4;
}

.foot-text {
  color      : rgba(0, 0, 0, .54);
  text-align : left;
  font-size  : 15px;
  margin-left: 40px;
}

.box-list {
  display        : flex;
  justify-content: space-between;
  border-top     : 1px solid #e4e4e4;
}

.box-list ul li a {
  color    : rgba(0, 0, 0, .54);
  font-size: 15px;
}

.list-one li :nth-child(1) {
  margin-left: 0;
}

.list-one {
  list-style: none;
  display   : flex;

}

.list-one li {
  margin-left: 15px;
}

.list-two {
  list-style: none;
  display   : flex;
}

.list-two li {
  margin-right: 15px;
}